
<div class="row" data-container-title="Four Column Container">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column2")
            </div>
            <div class="large-3 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column2")
            </div>
            <div class="large-3 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column2")
            </div>
            <div class="large-3 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column2")
            </div>
        </div>
    </div>
</div>
