
<div class="row" data-Container-title="Three Column Container">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-4 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column1")
            </div>
            <div class="large-4 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column1")
            </div>
            <div class="large-4 small-6 columns">
                @Html.Sitecore().DynamicPlaceholder("dynamic-column1")
            </div>
        </div>
    </div>
</div>
