
<div class="row" data-container-title="Two Column Container">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 small-12 columns" data-container-title="Left Column">
                @Html.Sitecore().Placeholder("left-column")
            </div>
            <div class="large-6 small-12 columns" data-container-title="Right Column">
                @Html.Sitecore().Placeholder("right-column")
            </div>
        </div>
    </div>
</div>
