@{
    string orbit = Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "data-orbit";   
}

<div class="row carousel" data-container-title="Carousel">
    <div class="large-12 columns">
        <ul class="example-orbit" @orbit data-options="slide_number:false; timer_speed:1000; bullets:false; pause_on_hover: false;">
            @Html.Sitecore().Placeholder("carousel-slide")
        </ul>
    </div>
</div>
