
<li data-widget-title="Slide">
    <img src="http://foundation.zurb.com/sites/docs/v/5.5.3/assets/img/examples/andromeda-orbit.jpg" alt="slide 2" />
    <div class="orbit-caption">
        Caption Two.
    </div>
</li>
